body{
    --sectionBackgroundColor: #C0C0C0; 
    --sectionBackgroundColorHover: #E8E8E8;
    --sectionShadowColor: #000;

    --courseButtonColor: #808080;
    --courseButtonColorHover: #303030;
    --courseButtonFontColor: #FFF;
}

.coursesPageTitle{
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.coursesOptions{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 3em;
}

.courseSection{
    width: min(250px, 95%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    text-align: center;

    padding: 1em;
    gap: 1em;

    background-color: var(--sectionBackgroundColor);

    box-shadow: 0 0 5px var(--sectionShadowColor);

    animation: slide 1.2s forwards;
    opacity: 0;
}

.courseSection:hover{
    background-color: var(--sectionBackgroundColorHover);
}

.courseHeader, .courseFooter{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1em;
    padding: 0.5em;
}

.courseSection img{
    width: min(100px, 95%);
}

.courseTitle{
    font-size: 1.6em;
    font-weight: bold;
}

.courseSection ul, .courseSection ol{
    list-style-type: none;
    margin: 1em;
    height: 100%;
}

.courseSection li{
    margin-bottom: 1em;
}

.courseSection li:not(:first-child){
    margin-top: 1em;
}

.coursePrice{
    font-size: 2em;
    font-weight: bold;
}

.courseSectionButton{
    width: 180px;

    background-color: var(--courseButtonColor);
    padding: 0.5em;

    border-style: none;
    border-radius: 5px;
    
    color: var(--courseButtonFontColor);
    font-size: 1.1em;
}

.courseSectionButton:hover{
    background-color: var(--courseButtonColorHover);
}

@keyframes slide{
    0% { 
        transform: translateX(-100%);
    }
    100% { 
        transform: translateX(0%);
        opacity: 1;
    }
}

@media only screen and (max-width: 210px){
    .courseSectionButton{
        width: 100px;
    }
    .coursePrice{
        font-size: 1.5em;
    }
}