body{
    background-color: rgb(255, 255, 255);
}



/* --------------- SEÇÃO PRINCIPAL --------------- */

.sectionTitle{    
    min-height: 100vh;

    padding: 8%;
}

.Presentation{
    height: 100%;
    width: 100%;
    text-align: center;

}

h1.title{
    font-family: 'Barlow', sans-serif;
    font-weight: 800;
    font-size: 4em;
    width: 100%;
    height: 20%;
    text-align: center;

    color: aliceblue;

    margin-bottom: 1em;
}

p.description{
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 2em;
    width: 100%;
    height: 80%;

    color: aliceblue;
    word-wrap: break-word;
    text-align: center;    
}



/* --------------- SEÇÃO QUEM SOMOS --------------- */

.about{
    background-color: aqua;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em 1em 0 1em;
    gap: 1em;
    
}
.about-text{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 90%;
    align-items: center;
    align-content: center;
    gap: 2em;

}
.text-about{
    width: 52%;
    line-height: 30px;


}
.iframe-about{
    width: 45%;
}
.iframe-about iframe{
    width: 100%;
}
.about-button{
    background-color: black;
    color: white;
    min-width: 150px;
    margin: 10px auto 10px auto;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 1.6em;
    transition: 0.5s ease-in;
    border: solid 1px black;
}
.about-button:hover{
    border: solid 1px black;

    color: black;
    background-color: aliceblue;

}
 /* @media (max-width: 420px){
    .iframe-about iframe{
        width: 10px;
    }
}  */



/* --------------- SEÇÃO DEPOIMENTOS --------------- */

.sectionDepositions{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
    padding: 50px 0px;

    background-color: rgb(255, 255, 255);
}

.titleDepositions{
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: rgb(0, 0, 0);

    /* margin-top: 60px; */
    margin-bottom: 50px;
}

.cardsDepositions{
    background-color: rgb(255, 255, 255);

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;

    margin-left: 10px;
    margin-right: 10PX;

}

.card{
    background-color: rgb(255, 255, 255);
    
    border: 2px solid #000;
    border-radius: 5px;

    padding: 10px;

    max-width: 400px;
}

.name,
.stage,
.card p,
.buttonSeeMore{
    font-family: 'Barlow', sans-serif;
}

.card p{

    font-weight: 400;
    font-size: 1.35em;
    
    text-align: center;
    margin-bottom: 10px;       
}

.name,
.stage{
    font-weight: 400;
    font-size: 1.4em;
}

.student{
    display: flex;
    background-color: #000;
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
}

.buttonSeeMore{
    font-weight: 500;
    font-size: 1.6em;
    
    min-height: 2em;
    min-width: 9em;

    margin-top: 40px;
    margin-bottom: 10px;

    border: none;
    border-radius: 8px;

    color: aliceblue;
    background-color: black;   

    transition: 0.5s ease-in;
}

.buttonSeeMore:hover{
    border: solid 1px black;

    color: black;
    background-color: aliceblue;

}



/*---------------  SEÇAO CURSOS --------------- */

.sectionCourses{
    display: flex;
    position: relative;
    width: 100vw;
    height: 600px;
}
.courses{
    display: none;
    width: 100%;
    height: 100%;
}

.courseFigure{
    width: 100%;
    height: 100%;
}

.courseFigure img{
    height: 100%;
    width: 100%;
    object-fit: cover;
 
}

.courseCarouselTitle{
    position: absolute;
    top: 60%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    height: 40%;
    padding: 1% 4% 1% 4%;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.courseCarouselTitle h1{
    font-size: 4em;
}

.courseCarouselTitle p{
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.5em;
}

.courseButtonCarousel{
    background-color: black;
    color: white;
    width: 25%;
    margin: 10px auto 10px auto;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 1.6em;
    transition: 0.5s ease-in;
    border: solid 1px black;
}

.courseButtonCarousel:hover{
    border: solid 1px black;
    color: black;
    background-color: aliceblue;
}

.previewButton, .nextButton{
    position: absolute;
    top: calc(50% - 25px);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    color: white;
    border: none;
    font-size: 1em;
    width: 50px;
    height: 50px;
}

.previewButton{   
    left: 3%;   
}

.nextButton{
    right: 3%;
}



/*------SEÇÃO AGENDA-------*/

.sectionCalendar{
    padding: 2em 4em 2em 4em;
}

.calendar thead{
    height: 2em;
}